<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.test.mapper.UserMapper">
    <select id="queryLimit" resultType="UserEntity">
        select *
        from user
        limit #{currentPage},#{pageSize};
    </select>
    <select id="getAll" resultType="com.zz.test.entity.UserEntity">
        select *
        from user
    </select>

    <insert id="addUser" parameterType="UserEntity">
        insert into user(userName, userAddress)
        values (#{userName}, #{userAddress});
    </insert>

    <update id="updateUser" parameterType="UserEntity">
        update user
        set userName=#{userName},
            userAddress=#{userAddress}
        where userId = #{userId};
    </update>

    <delete id="deleteUser" parameterType="UserEntity">
        delete
        from user
        where userId = #{userId};
    </delete>
</mapper>

